.booking-page {
  background: linear-gradient(135deg, #f4f6fb, #eef2f7);
  min-height: 100vh;
  padding: 60px 15px;
  display: flex;
  justify-content: center;
  
  align-items: center;
}

.booking-box {
  background: #ffffff;
  border-radius: 25px;
  padding: 35px;
 
  box-shadow: 0 20px 50px rgba(0, 0, 0, 0.08);
  max-width: 750px;
  width: 100%;
}

/* labels */
.booking-box label {
  font-weight: 500;
  margin-bottom: 6px;
  display: block;
  color: #444;
}

/* inputs */
.custom-select {
  border-radius: 14px;
  padding: 12px;
  border: 1px solid #e0e0e0;
  width: 100%;
}

/* DOCTORS */
.doctor-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-top: 10px;
}

.doctor-card {
  flex: 1 1 45%;
  background: #fafafa;
  border: 1px solid #e0e0e0;
  padding: 12px;
  border-radius: 14px;
  cursor: pointer;
  transition: 0.25s;
}

.doctor-card:hover {
  border-color: #ff7a00;
  color: #ff7a00;
  transform: translateY(-2px);
}

.doctor-card.active {
  background: linear-gradient(135deg, #ff7a00, #ff9a3c);
  color: #fff;
  border: none;
}

/* TIME */
.time-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  margin-top: 10px;
}

.time-slot {
  padding: 10px;
  border-radius: 12px;
  text-align: center;
  border: 1px solid #ddd;
  cursor: pointer;
  background: #fafafa;
}

.time-slot:hover {
  border-color: #ff7a00;
  color: #ff7a00;
}

.time-slot.active {
  background:var(--orange-color);
  color: #fff;
  border: none;
}

/* BUTTON */
button.confirm-btn{
    background: var(--orange-color) !important;
}
.confirm-btn {
  background: var(--orange-color);
  color: #fff;
  border: none;
  border-radius: 30px ;
 
  padding: 5px 20px;
  width: fit-content;
  min-width: 180px;
  transition: 0.3s;
  box-shadow: 0 10px 10px rgba(255, 122, 0, 0.3);
  cursor: pointer;
  transition: 0.5s;
}

/* مهم جدًا */
.confirm-btn:hover {
  background: var(--orange-color);
  transform: scale(1.05);
}

/* يمنع الأزرق نهائي */
.confirm-btn:focus,
.confirm-btn:active,
.confirm-btn:visited {
  background: var(--orange-color) !important;
  outline: none !important;
  box-shadow: 0 10px 10px rgba(255, 122, 0, 0.3) !important;
}

.confirm-btn{
    display: block;
    margin: 20px auto 0;
}